*{
    margin:0;
}
#main{
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 45%;
    background-color: white;
    border: solid 1px white;
}
body{
    background-color: black;
}
.big-border{
    border-bottom: solid 10px black;
}
.align-right{
    display: flex;
    justify-content: flex-end;
}

/*  Flexbox one (Amount per serving, milk, cereal) */

.flexbox-one{
    display: flex;
    justify-content: space-between;
}
.first-row{
    flex-shrink: 1;
/*     border:  1px solid black; */
    width: 50%;
}
.second-row{
    align-self: flex-end;
    flex-shrink: 4;
/*     border:  1px solid black; */
    width: 30%;
    text-align: right;
}
.third-row{
    align-self: flex-end;
    flex-shrink: 4;
/*     border:  1px solid black; */
    width: 20%;
    text-align: right;
}

.flexbox-two {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.flexbox-third {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
 /*    margin-left: 5%; */
}

.first-row-items {
    flex-shrink: 1;
/*     border:  1px solid black; */
    width: 50%;
    text-align: center;
}

.second-row-items {
    align-self: flex-end;
    flex-shrink: 4;
/*     border:  1px solid black; */
    width: 30%;
    text-align: right;
}

.third-row-items {
    align-self: flex-end;
    flex-shrink: 4;
/*     border:  1px solid black; */
    width: 20%;
    text-align: right;
}