body{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a{
    display: block;
    border-radius: 25px;
    padding: 10px;
    transition: 500ms;
}
h1{
    transition: 500ms;
}
h1:hover{
    transform: rotate(10deg);
}
a:hover{
    font-size: 30px;
    color: yellow;
    background-color: black;
}
