* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: black;

}
.conteiner {
	width: 600px;
	margin: auto;
	display: flex;
}

header {
	width: 100%;
	height: 50px;
	background-color:#E20074;
	display: flex;
	align-items: center;
}

h3 {
	padding-left: 5%;
	width: 20%;
	color: white;
}
ul {
	width: 80%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

span {
	color: white;
}
a {
	text-decoration: none;
	color: white;
}

.left_nav {
	width: 25%;
	display: flex;
	justify-content: space-between;
}

.right_nav {
	width: 25%;
	display: flex;
	justify-content: space-around;
}